@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/*PRE DEFINES*/
:root {
	/*COLOR*/
	--color-black: #282828;
	--color-white: #ffffff;
	--color-cream: #f7e8b5;
	--color-red: #ff160a;
	--color-blue: #1990c6;
	--color-hover: #f5fffa;
	--color-nearblack: #23232c;
	--color-lightgrey: #d5d8e2;
	--color-grey: rgba(40, 40, 40, 0.1);
	/*FONT*/
	--font-Oswald: 'Roboto', sans-serif;
	--font-Poppins: 'Roboto', sans-serif;
	--set-border: 1px solid rgba(0,0,0,.125);
}
body {
	background-color: #f0f2f4;
	font-family: var(--font-Poppins);
}
.font-p {
	font-family: var(--font-Poppins);
}
.font-o {
	font-family: var(--font-Oswald);
	font-size: 26px;
}
.border-b {
	border-bottom: 1px solid var(--color-white);
}
.border-bb {
	border-bottom: 1px solid var(--color-grey);
}
.f-w-12 {
	font-size: 12px;
}
.set-ul-list-all ul {
	color: var(--color-black);
	font-size: 15px;
	font-family: var(--font-Poppins);
	font-weight: 300;
}
.set-ul-list-all-black ul {
	color: var(--color-black);
	font-size: 15px;
	font-family: var(--font-Poppins);
	font-weight: 300;
}
.set-ul-list-all ul li {
	margin-top: 8px;
}
.set-ul-list-all ul li a {
	color: var(--color-red);
}
.set-ul-list-all-black ul li a {
	color: var(--color-blue);
}
.set-card-box-shadow {
	box-shadow: -1px 14px 50px -10px rgba(35, 35, 35, 0.1);
	border: 1px solid var(--color-lightgrey);
	background-color: var(--color-white);
	border-radius: 8px;
	font-family: var(--font-Poppins);
}
/***************************/
/*NAVBAR*/
/***************************/
.set-navbar-top {
	background-color: var(--color-nearblack);
	background-color: #02091c;
	box-shadow: -1px 14px 50px -10px rgba(35, 35, 35, 0.1);
	padding: 12px 0px;
}
.set-navbar-top .navbar-brand {
	font-family: var(--font-Oswald);
	font-size: 28px;
	font-weight: 500;
}
.set-navbar-top .nav-item .nav-link {
	font-family: var(--font-Poppins);
	font-size: 15px;
	font-weight: 400;
	color: var(--color-lightgrey);
}
.set-navbar-top .nav-item .nav-link:hover {
	color: var(--color-white);
}
.set-navbar-top .set-select-my-important {
	background-color: var(--color-nearblack);
	height: 40px;
	border-radius: 8px;
	padding: 10px;
	color: var(--color-white);
	font-size: 16px;
	font-family: var(--font-Poppins);
	border: 1px solid var(--color-lightgrey);
	outline: none;
	width: 242px;
	font-weight: 300 !important;
}
.set-navbar-top .set-select-my-important option {
	font-size: 15px;
	font-weight: 300;
}


/* width */
.set-navbar-top .set-select-my-important::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.set-navbar-top .set-select-my-important::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 6px;
}
 
/* Handle */
.set-navbar-top .set-select-my-important::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 6px;
}

/* Handle on hover */
.set-navbar-top .set-select-my-important::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.set-navbar-top .form-control::placeholder {
	color: var(--color-lightgrey);
}
.set-navbar-top .form-control:focus {
	box-shadow: none !important;
}
.set-navbar-top .set-btn-black {
	background-color: transparent;
	display: inline-block;
	color: var(--color-white);
	font-family: var(--font-Oswald);
	min-height: 40px !important;
	border: 1px solid var(--color-lightgrey);
	outline: none;
	border-radius: 8px;
	padding: 6px 22px;
	font-size: 14px;
	margin-left: 8px;
}
.set-bg-img {
	background-image: url('../images/bg-banner.jpg');
	height: 446px;
	background-size: 100% 100%;
}
.set-banner-padding {
	padding: 10px;
	font-size: 15px;
	color: grey;
	padding-right: 32px;
	border: 2px solid var(--color-red);
}
.set-banner-padding:focus {
	box-shadow: none !important;
}
.set-font-heading {
	font-weight: 700;
}
/***************************/
/*CENTER SECTION*/
/***************************/
.set-text-card-main {
	background-color: var(--color-white);
	border: var(--set-border);
	border-radius: 8px;
}
.set-inner-card-padd {
/*	border: var(--set-border);*/

}
.set-inner-card-padd h1 {
	color: var(--color-black);
	font-family: var(--font-Oswald);
	font-size: 32px;
	font-weight: 400;
}
.set-inner-card-padd h3 {
	font-family: var(--font-Oswald);
	color: var(--color-black);
	font-size: 22px;
}
.set-inner-card-padd h6 {
	font-family: var(--font-Poppins);
	color: var(--color-nearblack);
	font-size: 15px;
	font-weight: 300;
}
.set-inner-card-padd p {
	color: var(--color-black);
	font-family: var(--font-Poppins);
}
.set-inner-card-padd a {
	color: var(--color-nearblack);
}
.set-btn-cream {
	display: inline-block;
	background-color: transparent;
	color: var(--color-black);
	font-family: var(--font-Oswald);
	height: 44px;
	border: 2px solid var(--color-cream);
	outline: none;
	border-radius: 8px;
	padding: 6px 22px;
	transition: .3s;
	text-decoration: none;
	font-size: 14px;
}
.set-btn-cream:hover {
	background-color: var(--color-cream);
	color: var(--color-black);
	transition: .3s;
}
.active {
	border-bottom: 1px solid var(--color-white);

}
/******************************/
/*SIMILAR TRENDING*/
/******************************/
.set-inner-left {
	box-shadow: -1px 14px 50px -10px rgba(35, 35, 35, 0.1);
	border-radius: 8px;
	overflow: hidden;
}
.set-topper-left {
	font-family: var(--font-Oswald);
	background-color: var(--color-black);
	border-radius: 8px 8px 0px 0px;
}
.set-title-left-line {
	color: var(--color-white);
	font-size: 32px;
}
.set-view-list {
	background-color: #f7f7f7;
	color: var(--color-black);
	font-size: 11px;
	font-family: var(--font-Poppins);
	padding: 2px 6px;
	border-radius: 25px;
	font-weight: 900;
	flex-shrink: 0;
	min-width: 102px;
	text-align: center;
	border: 2px solid var(--color-red);
	display: flex;
    justify-content: center;
    align-items: center;
}
.set-list-all a {
	text-decoration: none;
	color: inherit;
}
.set-content-right-list {
	font-family: var(--font-Oswald);
	font-size: 18px;
	font-weight: 300;
}
.set-content-right-list p {
	font-size: 16px;
}
.set-main-inner-list .set-list-all:nth-child(odd) {
	background-color: var(--color-white);
	box-shadow: -1px 14px 50px -10px rgba(35, 35, 35, 0.1);
	transition: .3s;
}
.set-main-inner-list .set-list-all:nth-child(even) {
	background-color: rgb(255 246 246);
	box-shadow: -1px 14px 50px -10px rgba(35, 35, 35, 0.1);
	transition: .3s;
}
.set-main-inner-list .set-list-all:hover {
	background-color: var(--color-hover);
	transition: .3s;
}
.checked {
  color: var(--color-red);
}
.set-star-rating .fa-star, .fa-star {
	font-size: 24px !important;
}
.set-font-sm {
	font-size: 15px;
}
.set-font-hours {
	font-size: 13px;
	background-color: #ededef;
	padding: 4px 12px;
	border-radius: 8px;
}
/******************************/
/*FOOTER*/
/******************************/
.set-bg-ftr {
	background-color: var(--color-nearblack);
}
.set-ftr-120 {
	padding: 60px 0px;
}
.set-list-ftr ul {
	padding-left: 0px;
	list-style-type: none;
	
}
.set-list-ftr ul li {
	padding-top: 18px;
}
.set-para-card {
	font-family: var(--font-Poppins);
	color: var(--color-white);
	font-weight: 200;
}
.set-list-ftr ul li a {
	color: var(--color-white);
	text-decoration: none;
	transition: .3s;
}
.set-list-ftr ul li a:hover {
	text-decoration: underline;
	transition: .3s;
}
.set-icons a {
	color: var(--color-cream);
	display: inline-block;
	padding: 6px;
	transition: .3s;
}
.set-icons a i {
	font-size: 24px;
}
.set-icons a:hover {
	color: var(--color-white);
	transition: .3s;
}


/*DETAIL PAGE*/
.set-lower-list-cards {
	box-shadow: -1px 14px 50px -10px rgba(35, 35, 35, 0.1);
	overflow: hidden;
	border: 1px solid var(--color-lightgrey);
	border-radius: 8px;
	background-color: var(--color-white);
	font-family: var(--font-Oswald);
}
.set-inner-white {
/*	border: 1px solid var(--color-lightgrey);*/
}
.set-inner-white h2 a {
	font-family: var(--font-Oswald);
	color: var(--color-black);
	display: inline-block;
	text-decoration: none;
	font-size: 25px;
}
.set-inner-white a {
	color: var(--color-red);
	font-family: var(--font-Poppins);
	font-size: 14px;
}
.set-inner-white p {
	font-family: var(--font-Poppins);
	font-size: 14px;
}
.set-bg-cream {
	background-color: var(--color-cream);
}
.set-bg-cream:hover {
	background-color: transparent;
}
.set-textarea label {
	font-size: 18px;
	font-family: var(--font-Poppins);

}
.set-textarea textarea {
	display: block;
	width: 100%;
	background-color: var(--color-grey);
	font-family: var(--font-Poppins);
	font-size: 14px;
	padding: 12px;
	border: none;
	outline: none;
	margin-top: 12px;
}
.set-radius-0 {
	border-radius: 0px;
}
.set-btn-black {
	padding: 6px 12px;
	background-color: var(--color-red);
	color: var(--color-white) !important;
	font-family: var(--font-Oswald);
	text-decoration: none;
	font-size: 14px;
	outline: none;
	border: 2px solid var(--color-red);
	border-radius: 8px;
	transition: .3s;
	min-height: 42px;
	display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
.set-btn-black:hover {
	transition: .3s;
	background-color: var(--color-white);
	color: var(--color-black) !important;
}
.set-btn-outline {
	background-color: var(--color-white);
	color: var(--color-black) !important;
}
.set-btn-outline:hover {
	background-color: var(--color-red);
	color: var(--color-white) !important;
}
.set-border-1px {
	border: 1px solid var(--color-lightgrey);
}
.set-image-container {
	height: 175px;
}
.set-image-container img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.set-image {
	border-radius: 8px;
	overflow: hidden;
}
.social-icons {
	display: flex;
	justify-content: space-around;
/*	border: 1px solid var(--color-grey);*/
}
.social-icons a {
	padding: 12px 6px 0px 6px;
	color: var(--color-red);
	text-decoration: none;
}
.social-icons a i {
	font-size: 28px;
}
.set-relative {
	position: relative;
}
.set-anchor-red a {
	color: var(--color-red);
	font-size: 14px;
}
.set-anchor-red p {
	font-size: 14px;
}
.set-color-para p {
	color: rgb(135 135 135);
	font-size: 14px;
}
.set-top-left-overlay {
	position: absolute;
	right: 0px;
	top: 0px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,.05);
	font-size: 12px;
	padding: 4px;
	border-radius: 12px;
	height: 24px;
	width: 24px;
}
.set-cart-js-sm .apexcharts-legend-text, .set-cart-js-sm .apexcharts-legend.apexcharts-align-center.apx-legend-position-right {
	display: none;
}
.font-o-sm {
	font-size: 22px;
}
/*INPUT*/
.set-label-overlay {
	position: absolute;
  left: 14px;
  top: -12px;
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  padding: 0px 18px;
  border: 2px solid var(--color-black);
  border-radius: 12px;
  background-color: var(--color-white);
}
.set-input-self {
	display: block;
	border-radius: 8px;
	padding: 12px;
	height: 42px;
	font-size: 15px;
	width: 100%;
	border: 2px solid var(--color-black);
	font-family: var(--font-Poppins);
	outline: none;
	background-color: #f7f7f7;
}
.set-textarea-self {
	display: block;
	border-radius: 8px;
	padding: 14px;
	font-size: 15px;
	width: 100%;
	border: 2px solid var(--color-black);
	font-family: var(--font-Poppins);
	outline: none;
	background-color: #f7f7f7;
}
.set-inline-block-h3 {
	border-bottom: 3px solid var(--color-black);
	display: inline-block;
}
.set-contact-main {
	font-size: 14px;
}
.set-width-extra {
	width: 100%;
}
.f-13-b {
	font-size: 13px;
}
.f-11-w {
	font-size: 11px;
}

/*DYNAMIC STAR RATING*/
.success-box {
  margin: 0;
  padding:4px;
  border:1px solid #eee;
  background:#f9f9f9;
  font-size: 12px;
  border-radius: 8px;
  width: 100%;
  display: none;
  line-break: 14px;
}

.success-box img {
  margin-right:10px;
  display:inline-block;
  vertical-align:top;
}

.success-box > div {
  vertical-align:top;
  display:inline-block;
  color:#888;
}
/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;
  margin-bottom: 0px;
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:2.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}
.set-check-circle {
	font-size: 28px;
	color: #6AC259;
}

@media only screen and (max-width: 1024px) {
	.set-direction-row {
		flex-direction: column;
	}
}
@media only screen and (max-width: 480px) {
	.set-user-img-text {
		flex-direction: column;
	}
	.set-inner-card-lower.ms-3 {
		margin-left: 0px !important;
	}
}